.dashboard-tbl {
  .rdt_TableCell:last-child {
    visibility: hidden !important;
  }

  .rdt_TableRow:hover {
    .rdt_TableCell:last-child {
      visibility: visible !important;
    }
  }

  .hSlPlq {
    min-width: 30px;
  }
}

.inventory-form-main-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;

  form {
    display: contents;

    .input-height {
      height: 85px;
    }
    input, select {
      border: 1px solid #64838e;
      border-radius: 3px;
      font-size: 16px;
      height: 44px;
      padding: 0;
      text-indent: 15px;
      width: 334px;
    }
  }
}

.content-box {
  padding: 3% 10%;
}

@media screen and (max-width: 600px) {
  .content-box {
    padding: 5% 7%;
  }
}
